*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    background-color: white;
    max-width: 400px;
    width: 100%;
    padding: 5px;
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.15), -4px -4px 20px 4px rgba(255, 255, 255, 0.2);
    
}

.monitor{
    background-color: #F6F6F6;
    text-align: right;
    margin-bottom: 5px;
    padding: 5px;
    
}

.input {
    text-align: right;
    font-size: 20px;
}

.output{
    text-align: right;
    font-size: 40px;
    font-weight: bold;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    aspect-ratio: 5/6;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
}

button{
    border: none;
    font-size: 30px;
    background-color: #E8E8E8;
}

.red {
    color: red;
    background-color: #C5C5C5;
}
    
.green {
    color: green;
    background-color: #C5C5C5;
}

.keys button:hover,
.keys button:focus
{
    background-color: white;
    border: solid 1px rgb(228, 228, 228);
}